voter/voter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="candidate">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="voter">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" />
							<xs:element name="gender" type="xs:string" />
							<xs:element name="dept" type="xs:string" />
							<xs:element name="year" type="xs:string" />
                            <xs:element name="phno" type="xs:string" />
                            <xs:element name="email" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="vid" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>